/vendor/
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpmd.result-cache.php
/.idea/
/build/
ab*.log
*.log

# vscode
.vscode/*
!.vscode/launch.json
phpmd.csv
.phpunit.cache
database.sqlite
tests/logs/
