includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    paths:
        - ./src
        - ./tests
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - .git/*
        - vendor/*
        - build/*
        - tests/*
    tmpDir: build/phpstan-cache
    parallel:
        maximumNumberOfProcesses: 1
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
