name: Check & fix styling

on:
  push:
    branches:
      - '**' # run on all branches
  pull_request:
    branches:
      - '**'

jobs:
  style:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # important to push commits

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
          tools: composer

      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist

      - name: Run Rector for automated refactoring
        run: |
          vendor/bin/rector process src --ansi
        # Adjust --set according to your target PHP version / ruleset

      - name: Fix code style with PHP CS Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --config=.php-cs-fixer.php --allow-risky=yes --verbose

      - name: Run PHP Code Beautifier (phpcbf)
        run: |
          vendor/bin/phpcbf -p ./src --encoding=utf-8 --standard=phpcs.xml --runtime-set testVersion 8.4 --parallel=1 || true
        # You can change 'src' to the directories you want

      - name: Get branch name
        id: get_branch
        run: |
          # handle push and PR events safely
          if [ -n "$GITHUB_HEAD_REF" ]; then
            echo "branch=$GITHUB_HEAD_REF" >> $GITHUB_OUTPUT
          else
            echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
          fi

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: fix styling and refactor via PHP CS Fixer, Rector, phpcbf"
          branch: ${{ steps.get_branch.outputs.branch }}
          # push: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
